parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # User Controllers
    App\Infrastructure\User\Http\Api\V1\UserController:
        tags: ['controller.service_arguments']
        public: true

    App\Infrastructure\User\Http\Api\V1\AuthController:
        tags: ['controller.service_arguments']
        public: true

    App\Infrastructure\User\Http\Api\V1\RegisterController:
        tags: ['controller.service_arguments']
        public: true

    App\Domain\User\Repository\UserRepositoryInterface:
        alias: App\Infrastructure\User\Persistence\Doctrine\DoctrineUserRepository

    App\Infrastructure\User\Security\UserProvider:
        arguments:
            $userRepository: '@App\Domain\User\Repository\UserRepositoryInterface'

    # To Do List Controllers
    App\Domain\ToDoList\Repository\ToDoListRepositoryInterface:
        alias: App\Infrastructure\ToDoList\Persistence\Doctrine\DoctrineToDoListRepository

    App\Infrastructure\ToDoList\Http\Api\V1\ToDoListController:
        tags: ['controller.service_arguments']
        public: true
    
    
    